{% extends 'site.html' %}

{% block content %}
    <h1 id="homepage_h1">¡Bienvenida!</h1>
    <section id="archive">
        <article class="welcome">
            <div id="welcome_message">
                    <h2>¡Bienvenida!</h2>
                    <img src="{{ get_asset('images/pyladiesmadrid_linear.png') }}" alt="Pyladies lady graphic" />
                    {% for post in posts %}
                        {% if 'bienvenida' in post.category %}
                        <p>{{ post.content }}</p>
                        {% endif %}
                    {% endfor %}
            </div>
        </article>


        <article class="python_install">
            <div id="welcome_message">
                    <h2>Información de interés</h2>
                    <!--<img src="{{ get_asset('images/pipinstall.png') }}" alt="Pyladies pip install" /> -->
                    {% for post in posts %}
                        {% if 'instalacion_python' in post.category %}
                        <h3><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h3>
                        <p>{{ post.excerpt }}  <a href="{{ get_url(post.url) }}" class='more-link'>Leer más &rarr;</a></p>
                        {% endif %}
                    {% endfor %}
                    {% for post in posts %}
                        {% if 'ofertas' in post.category %}
                        <h3><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h3>
                        <p>{{ post.excerpt }}  <a href="{{ get_url(post.url) }}" class='more-link'>Leer más &rarr;</a></p>
                        {% endif %}
                    {% endfor %}
            </div>
        </article>


        <!--
        <article class="latest">
            <h3 class="latest-master">Últimas novedades</h3>
                <div id="latestBlog">
                    {% for post in posts.items[:3] %}
                        <h3><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h3>
                        <time pubdate datetime="{{ post.timestamp|date('%Y-%m-%d') }}">{{ post.date }}</time>
                        <p>{{ post.excerpt }}  <a href="{{ get_url(post.url) }}" class='more-link'>Leer más &rarr;</a></p>
                    {% endfor %}
                </div>
        </article>
        -->
    </section>

{% endblock %}
