{% extends 'site.html' %}

{% block content %}
    <h1 id="homepage_h1">¡Bienvenida!</h1>
    <section id="archive">
        <article class="welcome">
            <div id="welcome_message">
                    <h2>¡Bienvenida!</h2>
                    <img src="{{ get_asset('images/pyladiesmadrid_linear.png') }}" alt="Pyladies lady graphic" />
                    <p>Somos una agrupación local de la organización internacional PyLadies, cuyo objetivo es ayudar y motivar a más mujeres para que sean participantes activas y líderes de la comunidad open source de Python. Nuestra misión es promover, educar y avanzar en la diversidad de la comunidad Python, mediante la realización de cursos, conferencias, eventos y reuniones.</p>
                    <p>Así mismo, buscamos crear una red de mujeres programadoras, y ponerla en contacto con el resto de comunidades Python nacionales e internacionales. Este es un grupo abierto, por lo que cualquier persona con interés en Python está invitada a participar.</p>
                    <p>¡Te esperamos!</p>
            </div>
        </article>

        <article class="python_install">
            <div id="welcome_message">
                    <h2>Instrucciones para los talleres</h2>
                    <img src="{{ get_asset('images/pipinstall.png') }}" alt="Pyladies pip install" />
                    <p>Es muy importante que, si vienes a un taller, vengas con Python instalado. 
                        Por favor, écha un ojo a las instrucciones de instalación aquí</p>
                        <br><br><br>
            </div>
        </article>


        <article class="latest">
            <h2 class="latest-master">Últimos posts</h2>
                <div id="latestBlog">
                    {% for post in posts.items[:2] %}
                        <h3><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h3>
                        <time pubdate datetime="{{ post.timestamp|date('%Y-%m-%d') }}">{{ post.date }}</time>
                        <p>{{ post.excerpt }}  <a href="{{ get_url(post.url) }}" class='more-link'>Leer más &rarr;</a></p>
                    {% endfor %}
                </div>
        </article>
    </section>

{% endblock %}
