{% extends 'layout.html' %} {% block title %}{{ item.title }}{% endblock %} {%
block meta %}
<meta name="author" content="{{ item.author.name }}" />
<meta name="description" content="{{ item.summary|striptags }}" />
<meta name="keywords" content="{{ item.tags|join(', ') }}" />
{% endblock %} {% block content %}

<div id="fh5co-main">
	<div class="fh5co-narrow-content item-content">
		<h1 class="fh5co-heading-colored">{{ item.title }}</h1>

		<div>
			{% for author in item.authors %}
			<a href="{{ author.url }}">{{ author }}</a>{% if not loop.last %}, {%
			endif %} {% endfor %} - {{ item.locale_date }}
		</div>
		<div>
			<span>
				<a
					href="https://twitter.com/intent/tweet?url=http://madrid.pyladies.com{{ item.url }}"
					target="_blank"
					class="twitter-share-button"
				></a>
				<script
					async
					src="https://platform.twitter.com/widgets.js"
					charset="utf-8"
				></script>
			</span>
			<span style="position: relative; bottom: 7px">
				<script
					src="https://platform.linkedin.com/in.js"
					type="text/javascript"
				>
					lang: en_US
				</script>
				<script
					type="IN/Share"
					data-url="http://madrid.pyladies.com{{ item.url }}"
				></script>
			</span>
		</div>

		{% if item.tags %}
		<div>
			<span>Tags: </span>
			{% for tag in item.tags %}
			<span><a href="{{ SITEURL }}/{{ tag.url }}">#{{ tag }}</a> </span>
			{% endfor %}
		</div>
		{% endif %}

		<div class="animate-box" data-animate-effect="fadeInLeft">
			<p class="animate-box" data-animate-effect="fadeInLeft">
				{{ item.content }}
			</p>
		</div>
	</div>
</div>

{% endblock %}
