{% extends "layout.html" %}

{% block meta %}
    <meta name="description" content="{{ site.title }} - Contact" />
{% endblock %}

{% block content %}

<div id="fh5co-main">
      
        <div class="fh5co-narrow-content">

          <h1 class="fh5co-heading-colored">Hacktoberfest 2020</h1>

          <p>Muy pronto pondremos por aquí los proyectos y dinámicas que organizaremos
            para el hacktoberfest de este año</p>

          <p>Mientras, puedes ir echando un ojo a la 
            <a href="https://hacktoberfest.digitalocean.com/">web oficial</a> del evento o 
           a la web del evento organizado por <a href="https://hacktoberfest.es.python.org/">Python España</a> </p>


          </div>
</div>

{% endblock %}
