{% extends "layout.html" %}

{% block meta %}
    <meta name="description" content="{{ site.title }} - Contact" />
{% endblock %}

{% block content %}

<div id="fh5co-main">
      
        <div class="fh5co-narrow-content">

          <h1 class="fh5co-heading-colored">Hacktoberfest 2020</h1>

          <p>
            Estos son los proyectos que proponemos para el hacktoberfest de este año.
            Trabajaremos en grupo entre las PyLadies que se apunten a cada uno y nos organizaremos a través de Discord.
            Cada proyecto tiene una o varias mentoras que harán de apoyo y guía. 
            Si quieres participar en uno, escribe en el canal de Discord correspondiente. 
            Si aún no tienes acceso a Discord, <a href="/contact">escríbenos un mail</a>.
          </p>

          <p>Además, puedes echar un ojo a la 
            <a href="https://hacktoberfest.digitalocean.com/">web oficial</a> del evento o 
           a la web del evento organizado por <a href="https://hacktoberfest.es.python.org/">Python España</a> </p>

        </div>

    {% for project in containers.hacktoberfest|sort(attribute='url') %}
        <div class="fh5co-narrow-content article-content">
            <h2>Proyecto: {{ project.title }}</h2>
            <article>
                <p>{{ project.content }}</p>
            </article>
        </div>
    {% endfor %}

</div>

{% endblock %}
