{% extends "site.html" %}
{% block title %}Acerca de PyLadies Madrid{% endblock %}
{% block content %}
    <section id="archive">
        <article>
            <div> <h2>PyLadies Madrid</h2>
                    {% for post in posts|sort(attribute='title') %}
                        {% if 'aboutus' in post.category %}
                            <p>{{ post.content }}</p>
                        {% endif %}
                    {% endfor %}
            </div>
        </article>
        <article>
            <h3 class="latest-master">PyLadies Global</h3>
                    {% for post in posts|sort(attribute='title') %}
                        {% if 'aboutpyladies' in post.category %}
                            <p>{{ post.content }}</p>
                        {% endif %}
                    {% endfor %}
        </article>
        <article>
            <h3 class="latest-master">Python España</h3>
                    {% for post in posts|sort(attribute='title') %}
                        {% if 'aboutpythonespana' in post.category %}
                            <p>{{ post.content }}</p>
                        {% endif %}
                    {% endfor %}
        </article>
        <article>
            <h3 class="latest-master">Colaboraciones con otras comunidades</h3>
                <div id="latestBlog">
                    {% for post in posts %}
                        {% if 'colaborations' in post.category %}
                        <h3><a href="{{ get_url(post.url) }}">{{ post.title }}</a></h3>
                        <time pubdate datetime="{{ post.timestamp|date('%Y-%m-%d') }}">{{ post.date }}</time>
                        <p>{{ post.excerpt }}  <a href="{{ get_url(post.url) }}" class='more-link'>Leer más &rarr;</a></p>
                        {% endif %}
                    {% endfor %}
                </div>
        </article>
    </section>
{% endblock %}
